* {
  font-family: PremierSans-Regular, Arial, Helvetica Neue, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}
#managers {
  margin: auto;
  line-height: 35px;
  height: 220px;
  background-color: #6e0877;
  background-image: url("https://www.premierleague.com/resources/prod/3a85d04-3470/i/bg-elements/pl-footer-m-bottom.svg");
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 250px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
#managers > h1 {
  font-size: 65px;
  color: white;
  padding-top: 80px;
  margin-left: 80px;
}

#managers > input {
  opacity: 0.2;
  height: 50px;
  border: 1px solid white;
  padding-left: 15px;
  width: 550px;
  border-radius: 50px;
  margin-left: 80px;
  margin-top: 70px;
  cursor: pointer;
}
#sharebtn {
  background-color: white;
  margin-left: 300px;
  margin-top: 72px;
  width: 72px;
  height: 39px;
  border-radius: 6px;
  border: 0.5px solid white;
}

#managers > #search {
  background-color: white;
  margin-left: -50px;
  height: 40px;
  width: 40px;
  font-size: 26px;
  border-radius: 60%;
  margin-top: 77px;
  cursor: pointer;
}

#managers > #sharebtn:hover {
  background-color: #ff2882;
}

#bodyContent > div {
  background-color: #fbfbfb;
}

#managerDetails {
  margin-left: 100px;
  margin-right: 100px;
  height: 40px;
  padding-top: 10px;
  border: 1px so3id lightslategrey;
}

#managerDetails > label {
  font-size: 17px;
  padding-left: 30px;
  height: 40px;
}

#mlbl1 {
  width: 320px;
  border-left: 5px solid #ff2882;
  display: inline-block;
  cursor: pointer;
}

#mlbl2 {
  width: 450px;
  display: inline-block;
  cursor: pointer;
}

#mlbl3 {
  width: 350px;
  display: inline-block;
}

#mlbl1:hover,
#mlbl2:hover {
  text-decoration: underline;
}

#mlbl2 > img,
#mlbl3 > img {
  float: left;
  width: 25px;
  margin-right: 10px;
}
